<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maxime reprehenderit quisquam perspiciatis veritatis deleniti sed veniam magni ratione hic ad cumque temporibus molestiae officia, enim sit sint. Alias excepturi, reiciendis cupiditate repudiandae repellat quasi magni nisi nostrum ad, quis illo voluptatibus quo quidem, eius nihil quas asperiores esse ea?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maxime reprehenderit quisquam perspiciatis veritatis deleniti sed veniam magni ratione hic ad cumque temporibus molestiae officia, enim sit sint. Alias excepturi, reiciendis cupiditate repudiandae repellat quasi magni nisi nostrum ad, quis illo voluptatibus quo quidem, eius nihil quas asperiores esse ea?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maxime reprehenderit quisquam perspiciatis veritatis deleniti sed veniam magni ratione hic ad cumque temporibus molestiae officia, enim sit sint. Alias excepturi, reiciendis cupiditate repudiandae repellat quasi magni nisi nostrum ad, quis illo voluptatibus quo quidem, eius nihil quas asperiores esse ea?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maxime reprehenderit quisquam perspiciatis veritatis deleniti sed veniam magni ratione hic ad cumque temporibus molestiae officia, enim sit sint. Alias excepturi, reiciendis cupiditate repudiandae repellat quasi magni nisi nostrum ad, quis illo voluptatibus quo quidem, eius nihil quas asperiores esse ea?</p>
    </div>
</div>